<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Something went wrong!
                </h2>
                <div class="error-actions">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                        Take me home
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-primary">
                        Contact support
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
