@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This site functions as a knowledge testing system
    and provides tests on various subjects for users to complete.
    Application was developped withe the use of Microsoft Asp.Net MVC 5 technology by Philip Kozlov.
</p>
