@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    You can contact me at
    <abbr title="Phone">P:</abbr>
    +375298560338
</address>

<address>
    <strong>Send me email at:</strong>   <a href="mailto:Support@example.com">philip.g.kozlov@gmail.com</a><br />
</address>